/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body{
    padding: 0px;
    margin: 0px auto;
}
.navbar-default {
    background-color: #4c3c3c;
    border-color: #E7E7E7;
    color: white;
}

.navbar-default{
    padding: 15px;
    margin: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}