<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/Mystyle.css}" />
    <title>Book Store</title>
</head>
<body>
    <!-- The Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/login}">
                    
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
                
                <form class="form-inline my-2 my-lg-0" th:action="@{/signup}" style="margin-left:10px;">
                    
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</button>
                </form>
            </div>
        </div>
    </nav>

      <!-- The Image Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carousel-slides" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slides" data-slide-to="1"></li>
            <li data-target="#carousel-slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/images/carousel_1.jpg}" height="577px">
            <div class="carousel-caption">
                <h4 class="display-4">Read for your life</h4>
                <button type="button" class="btn btn-outline btn-primary btn-lg">Buy Books</button>
            </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" th:src="@{/images/carousel_2.jpg}" height="577px">
                <div class="carousel-caption">
                <h4 class="display-4">Read for your life</h4>
                <button type="button" class="btn btn-outline btn-primary btn-lg">Buy Books</button>
            </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/carousel_3.jpg" height="577px">
                <div class="carousel-caption">
                <h4 class="display-4">Read for your life</h4>
                <button type="button" class="btn btn-outline btn-primary btn-lg">Buy Books</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron Section -->
    <div class="container-fluid">
        <div class="row jumbotron">
            <h1 class="display-4">Welcome</h1>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">One of the biggest reasons why we read books is to gain knowledge. 
                    Books are a rich source of information. Reading books on varied subjects imparts 
                    information and increases the depth about the subject as well. Whenever you read 
                    a book, you learn a new information that otherwise would not have known.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">About Us</button></a>
            </div>
        </div>
    </div>

    <!-- Details Sections -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/details_1.jpg" width="50px" height="300px">
                <h3>Theology</h3>
                <p>As we say whenever we talk or write about Spirituality & Practice, 
                    I do not see myself as a critic but as a spiritual book recommender.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/details_2.jpg" width="50px" height="300px">
                <h3>Philosophy</h3>
                <p>As we say whenever we talk or write about Spirituality & Practice, 
                    I do not see myself as a critic but as a spiritual book recommender.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="images/details_3.jpg" width="50px" height="300px">
                <h3>Scientific</h3>
                <p>As we say whenever we talk or write about Spirituality & Practice, 
                    I do not see myself as a critic but as a spiritual book recommender.</p>
            </div>
        </div>
        <hr class="my-4">
    </div>

    <!-- Meet the team -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Contact</h1>
            </div>
            <hr>
        </div>
        <hr>
    </div>

    <!-- Card View -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-4">
                <img src="images/developer_1.jpg">
                <div class="card-body">
                    <h4 class="card-title">Abdisa Reta</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/developer_2.jpg">
                <div class="card-body">
                    <h4 class="card-title">Betselot Andargachew</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/developer_1.jpg">
                <div class="card-body">
                    <h4 class="card-title">Biruk Abate</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h4>Our Working Time</h4>
                    <hr class="light">
                    <p>251-251-251</p>
                    <p>simpleEmail@gmail.com</p>
                    <p>City, Country</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h4>Our Working Time</h4>
                    <hr class="light">
                    <p>251-251-251</p>
                    <p>simpleEmail@gmail.com</p>
                    <p>City, Country</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h4>Our Working Time</h4>
                    <hr class="light">
                    <p>251-251-251</p>
                    <p>simpleEmail@gmail.com</p>
                    <p>City, Country</p>
                </div>
                <div class="col-12">
                    <hr class="light">
                    <h5>&copy;OnlineBookStore</h5>
                </div>
            </div> 
            <br class="m-1">   
        </div>
    </footer>

<script th:src="@{/node_modules/jquery/dist/jquery.slim.min.js}"></script>
<script th:src="@{/node_modules/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>
</html>