<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
	<img th:src="@{/images/book.png}" height="50px" style=""></img>
	
	<h4 class="h4" style="color: #800000; margin-left:5px; ">e-BookStore</h4>
      <div class="container">
        
        <div class="collapse navbar-collapse " id="navbarResponsive" style="margin-left:25px;">
          <ul class="navbar-nav ml-auto nav-tabs" style="float-left:10px; text-decoration: none; border-bottom:0px;">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/home/home}" style="color: #800000; ">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home/catagory}" style="color: #800000; ">Catagory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home/borrowedBooks}" style="color: #800000;">Borrowd Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home/soldBook}" style="color: #800000;">Sold Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home/userRequest}" style="color: #800000;">User Request</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/logoutAdmin}" style="color: #800000;">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
</body>
</html>